
stages:
  - build
  - deploy

build:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.24.0-debug
    entrypoint: [ "" ]
  script:
    - /kaniko/executor 
      --context ${CI_PROJECT_DIR} 
      --dockerfile ${CI_PROJECT_DIR}/Dockerfile 
      --destination ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}
  rules:
    - if: $CI_COMMIT_TAG

deploy:
  stage: deploy
  script:
    - apt update && apt install -y ssh
    - chmod 400 ${SSH_KEY}
    - ssh -i ${SSH_KEY} -o StrictHostKeyChecking=no podman@zim-matlab01.embl.de "docker login -u ${CI_DEPLOY_USER} -p ${CI_DEPLOY_TOKEN} registry.git.embl.org"
    - ssh -i ${SSH_KEY} -o StrictHostKeyChecking=no podman@zim-matlab01.embl.de "docker rm -f ${CI_PROJECT_NAME} || true"
    - ssh -i ${SSH_KEY} -o StrictHostKeyChecking=no podman@zim-matlab01.embl.de "docker rmi \$(docker images -q ${CI_REGISTRY_IMAGE}) || true"
    - ssh -i ${SSH_KEY} -o StrictHostKeyChecking=no podman@zim-matlab01.embl.de "docker run -d --name ${CI_PROJECT_NAME} --restart always -p 3838:3838 ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
  rules:
    - if: $CI_COMMIT_TAG

